<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".StopTimeApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.StopTime">

        <!-- AdMob App ID. This is Google's TEST id. Replace with your real one before publishing. -->
        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-3940256099942544~3347511713" />

        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".AchievementsActivity"
            android:exported="false"
            android:screenOrientation="portrait" />

        <!-- Keep Google's full-screen ad screen in portrait as well -->
        <activity
            android:name="com.google.android.gms.ads.AdActivity"
            android:screenOrientation="portrait"
            tools:node="merge" />
    </application>
</manifest>
